################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/i2c-adau1701-howto/build/esp32.esp32.heltec_wifi_kit_32
/.vs
/IC 1_i2c howto
